@import "tailwindcss";

.body{
    background-color: rgb(98, 169, 202);
    height: 50vh;
}

/* .bg{
    background-image: url(./images/i1.jpg);
    width: 900px;
    height: 800px;
    background-size: cover;

    border-radius: 10%; 
} */

/* .content{
    color: oklch(90.5% 0.182 98.111);
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    align-items: center;
} */